<!-- <div class="col-8"> -->
<div style="overflow-x:auto;">
  <h3>Booked Tickets List </h3>
  <table class="table table-hover">
   <thead>
    <tr>
     <th>Select</th>
     <th>Transaction Id</th>
     <th>PNR Number</th>
     <th>Journey Date</th>
     <th>Train Number</th>
     <th>From</th>
     <th>To</th>
     <th>Booking Date</th>
     <th>Transaction Amount</th>
    </tr>
   </thead>
   <tbody ng-repeat="transaction in transactions">
   <tr>
   	<td>Select<input type="radio" name="selectTicket" ng-model="$parent.selectTicket" 
   	ng-value="transaction"></td>
   	<td>{{transaction.tnsId}}</td>
   	<td>{{transaction.pnrNumber}}</td>
   	<td>{{transaction.dateOfJourney | date}}</td>
   	<td>{{transaction.trainDetail.trainNumber}}</td>
   	<td>{{transaction.fromStation}}</td>
   	<td>{{transaction.toStation}}</td>
   	<td>{{transaction.dateOfBooking | date}}</td>   
   	<td>{{transaction.transactionAmount}}</td>
   </tr>
   </tbody>
  </table>
  <div class="col-sm-offset-7 col-sm-4">
				<button type="submit" ng-disabled="!selectTicket" class="btn btn-default" ng-click="cancelTicket()">Cancel Ticket</button>
			</div>
 </div>