<div>
<table class="table table-hover">
   <tbody>
   <tr>
   <td>Transaction Id</td>
   	<td>{{lastTransactionDetail.tnsId}}</td>
   	</tr>
   	<tr>
   	<td>PNR Number</td>
   	<td>{{lastTransactionDetail.pnrNumber}}</td>
   	</tr>
   	<tr>
   	<td>Journey Date</td>
   	<td>{{lastTransactionDetail.dateOfJourney | date}}</td>
   	</tr>
   	<tr>
   	<td>Train Number</td>
   	<td>{{lastTransactionDetail.trainDetail.trainNumber}}</td>
   	</tr>
   	<tr>
   	<td>From station</td>
   	<td>{{lastTransactionDetail.fromStation}}</td>
   	</tr>
   	<tr>
   	<td>To station</td>
   	<td>{{lastTransactionDetail.toStation}}</td>
   	</tr>
   	<tr>
   	<td>Booking Date</td>
   	<td>{{lastTransactionDetail.dateOfBooking | date}}</td>   
   	</tr>
   	<tr>
   	<td>Transaction Amount</td>
   	<td>{{lastTransactionDetail.transactionAmount}}</td>
   	</tr>
   </tbody>
  </table>
</div>