<div>
<div ui-view></div>
<br>
<div style="overflow-x:auto;"><!--for responsive tables --> 
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Train No</th>
				<th>Train Name</th>
				<th>From</th>
				<th>Departure</th>
				<th>To</th>
				<th>Arrival</th>
				<th>Dist.(Km)</th>
				<th>Travel Time</th>
				<th>M</th>
				<th>T</th>
				<th>W</th>
				<th>T</th>
				<th>F</th>
				<th>S</th>
				<th>S</th>
				<th>Class</th>
			</tr>
		</thead>

		<tbody ng-repeat="td in trainList">
			<tr>
				<td><button  ng-click="showTrainDetails(td.trainId)" >{{td.trainNum}}</button></td>
				<td>{{td.trainName}}</td>
				<td>{{td.from}}</td>
				<td>{{td.departure}}</td>
				<td>{{td.to}}</td>
				<td>{{td.arrival}}</td>
				<td>{{td.distance}}</td>
				<td>{{td.travelTime}}</td>
				<td>{{td.Monday}}</td>
				<td>{{td.Tuesday}}</td>
				<td>{{td.Wednesday}}</td>
				<td>{{td.Thursday}}</td>
				<td>{{td.Friday}}</td>
				<td>{{td.Saturday}}</td>
				<td>{{td.Sunday}}</td>
				
				<td><a ui-sref=".seatBooking" ng-click=showsheetOfAc(td.trainNum)>AC</a>
				<a	ng-click=showSheetOfSleeper(td.trainNum)>SL</a></td>

			</tr>
		</tbody>
	</table>
</div>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

  

<div style="overflow-x:auto;">
	<h3>Train Details</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Train Number</th>
				<th>Train Name</th>
				<th>From Station</th>
				<th>Destination Station</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{trainDetail.trainName}}</td>
				<td>{{trainDetail.trainNumber}}</td>
				<td>{{trainDetail.sourceStation}}</td>
				<td>{{trainDetail.destinationStation}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div style="overflow-x:auto;">

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Train Running Days</th>
			</tr>
		</thead>
		<tbody ng-repeat="trainRunningDay in trainRunningDaysList">
			<tr>
				<td>{{trainRunningDay.trainRunningDays}}</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Station Code</th>
				<th>Station Name</th>
				<th>Arrival Time</th>
				<th>Departure Time</th>
				<th>Halt Time(In minutes)</th>
				<th>Distance</th>
				<th>Day</th>

			</tr>
		</thead>
		<tbody ng-repeat="trainScheduleDetail in trainScheduleDetails">
			<tr>
				<td>{{trainScheduleDetail.stationCode}}</td>
				<td>{{trainScheduleDetail.stationName}}</td>
				<td>{{trainScheduleDetail.arrivalTime}}</td>
				<td>{{trainScheduleDetail.departureTime}}</td>
				<td>{{trainScheduleDetail.haltTime}}</td>
				<td>{{trainScheduleDetail.distanceInKm}}</td>
				<td>{{trainScheduleDetail.day}}</td>

			</tr>
		</tbody>
	</table>

</div>


</div>

</div>

</div>