
<div style="border: 1px solid grey; padding: 0px;">
<h3 style="border: 1px solid grey; background-color: lightblue;">User services</h3>
	<table>
  	<thead>
  		<tr>  
  		</tr>
  	</thead>
  		<tbody>
    <tr>      
	    <td><h2><a href="#!userHome/cancelTicket">Cancel Ticket</a></h2></td>
	    <td><h2><a href="#!userHome/bookedTicketHistory">Booked Ticket History</a></h2></td>
    </tr>
    <tr>
        <td><h2><span class="sr-only">Empty row</span></h2></td>
	    <td><h2><span class="sr-only">Empty row</span></h2></td>
    </tr>
	<tr>
	    <td><h2><a href="#!userHome/refundDetail">Refund Ticket History</a></h2></td>
	    <td></td>
	</tr>
  </tbody>
</table>
</div>
<br>
<br>
  <div style="border: 1px solid grey; padding: 0px;">
  <h3 style="border: 1px solid grey; background-color: lightblue;">Last transaction detail</h3>
  
  		<table >
  		<thead>
  		<tr> <th>Booking PNR number</th>
   			<th>Booking Status  </th>	</tr>
    	</thead>
    		<tr>      
	    	<td><h3><button id="getTransactionDetail">{{lastTransactionDetail.pnrNumber}}</button></h3></td>
	    	<td>{{lastTransactionDetail.reservationStatus}}</td>
    		</tr>
    	</table>
  </div>
  <br>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
<table class="table table-hover">
   <tbody>
   <tr>
   <td><b>Transaction Id</b></td>
   	<td>{{lastTransactionDetail.tnsId}}</td>
   	</tr>
   	<tr>
   	<td><b>PNR Number</b></td>
   	<td>{{lastTransactionDetail.pnrNumber}}</td>
   	</tr>
   	<tr>
   	<td><b>Journey Date</b></td>
   	<td>{{lastTransactionDetail.dateOfJourney | date}}</td>
   	</tr>
   	<tr>
   	<td><b>Train Number</b></td>
   	<td>{{lastTransactionDetail.trainDetail.trainNumber}}</td>
   	</tr>
   	<tr>
   	<td><b>From station</b></td>
   	<td>{{lastTransactionDetail.fromStation}}</td>
   	</tr>
   	<tr>
   	<td><b>To station</b></td>
   	<td>{{lastTransactionDetail.toStation}}</td>
   	</tr>
   	<tr>
   	<td><b>Booking Date</b></td>
   	<td>{{lastTransactionDetail.dateOfBooking | date}}</td>   
   	</tr>
   	<tr>
   	<td><b>Transaction Amount</b></td>
   	<td>{{lastTransactionDetail.transactionAmount}}</td>
   	</tr>
   </tbody>
  </table>
</div>	
</div>	
