<link
 href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"
 rel="Stylesheet" type="text/css" />
<script type="text/javascript"
 src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
 src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<div>
<nav class="navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<p class="navbar-brand">Train reservation system</p>
			</div>
			<!--/.navbar-header-->

			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">User Guide<b class="caret"></b></a>

						<ul class="dropdown-menu">
							<li><a target="_blank"
								href="../htmlFile/userRegistration.html">User Registration
									Guide</a></li>
							<li><a target="_blank" href="../htmlFile/bookEticket.html">Booking
									e-ticket Guide</a></li>
							<li><a target="_blank" href="../htmlFile/eticketCancel.html">Canceling
									e-ticket Guide</a></li>
						</ul></li>
					<li><a target="_blank"
						href="../pdfFile/InsuranceTermCondition.pdf">Travel Insurance</a></li>


					<li><a href="#">My profile</a></li>
					<li><a href="#">My transactions</a></li>



				</ul>
				<ul class="nav navbar-nav navbar-right">

					<li><a href="#!userHome/userService">Home</a></li>
					<li><a href="#">Sign out</a></li>
					<li><a target="_blank" ui-sref="trsContact">Contact us</a></li>
				</ul>
			</div>
</nav>
<div class="container">
<div class="row">
<!-- main user home -->
	<div class="col-3 gridColumn">
	<h3 id="auheader">Plan your journey</h3>
	<form name="journeyPlanForm" class="form-horizontal">
		<h4 style="color: red">{{errormsg}}</h4>
		<div class="form-group">
     <label class="control-label col-sm-3"><b>From station</b></label> <input
      list="fromStation" class="form-control" name="fromStation"
      ng-model="fromStation" required>
     <datalist id="fromStation">
      <option ng-repeat="station in stationDetails"
       value="{{station.stationCode}}"><b>{{station.stationName}}
        - {{station.stationCode}}</b></option>
     </datalist>
     <span style="color: red"
      ng-show="journeyPlanForm.fromStation.$dirty && journeyPlanForm.fromStation.$invalid">
      <span ng-show="journeyPlanForm.fromStation.$error.required">From
       station is required.</span>
     </span>
    </div>





    <div class="form-group">
     <label class="control-label col-sm-3"><b>To station</b></label> <input
      list="toStation" class="form-control" name="toStation"
      ng-model="toStation" required>
     <datalist id="toStation">
      <option ng-repeat="station in stationDetails"
       value="{{station.stationCode}}">{{station.stationName}}
       - {{station.stationCode}}</option>
     </datalist>
     <span style="color: red"
      ng-show="journeyPlanForm.toStation.$dirty && journeyPlanForm.toStation.$invalid">
      <span ng-show="journeyPlanForm.toStation.$error.required">To
       station is required.</span>
     </span>
    </div>




    <div class="form-group" id='datetimepicker1'>
     
     <label class="control-label col-sm-3"><b>Enter journey
       date :</b></label>
     <div class="col-sm-6">
      <div class='input-group date'  >
       <input type="text" id="txtdate" class="form-control"  ng-model="journeyDate" 
        placeholder="Enter date of journey." name="journeyDate"
         required > 
         
         <span class="input-group-addon"><span
        class="glyphicon glyphicon-calendar"></span> </span>
      </div> 
     </div>
    </div>



    <div class="form-group">
     <div class="col-sm-6">
      <button type="submit"
       ng-disabled="journeyPlanForm.toStation.$invalid || journeyPlanForm.fromStation.$invalid"
       ng-click="searchTrain()" class="btn btn-primary" >Submit</button>
      <button class="btn btn-danger" type="submit">Reset</button>
     </div>
    </div>
	</form>	
	</div>
	
	<!-- user-home 2 -->
	<div class="col-8 gridColumn" ui-view></div>
	
	</div>

</div>
</div>