#trs-main-heading {
	text-align: center;
	color:#0b413e;
	padding: 20px 35px;
}
.trs-header{
	border-style: groove; 
	border-radius: 10px;
	padding: 5px 35px;
	background-color: #0b413e;
	color: white;
}
#auheader {
	background-color: #0b413e;
	border: 2px solid #20b2aa;
	border-radius: 10px 20px;
	color: white;
	text-align: center;
}
/*for text captch code display*/
#LoginCaptcha {
	text-align: center;
	border: none;
	font-weight: bold;
	font-family: Modern;
	font-size: 30px;
}

#txtCaptcha {
	text-align: center;
	border: none;
	font-weight: bold;
	font-family: Modern;
	font-size: 30px;
}
#txtCaptcha2 {
	text-align: center;
	border: none;
	font-weight: bold;
	font-family: Modern;
	font-size: 30px;
}
.button {
	background-color: #3cddd5;
	border: none;
	color: black;
	padding: 5px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
/*basic body for all html files */
.defaultbody{
	width: 1120px;
	height: 620px;
	margin: 10px;
	text-decoration: none;
	display: inline-block;
}
/*
for alert and update and login columns
border: border-width border-style border-color|initial|inherit;
*/
.gridColumn {
	border: 2px solid #20b2aa;
	border-radius: 10px 20px;
	margin: 4px;
}
/*
adding for table alternate colors
*/
table{
	 margin: 0 auto; /* or margin: 0 auto 0 auto 
	 for locating tables in middle horizontally.*/
}
table, td, th {
    border: 1px solid black;
}
tr:nth-child(odd) {background: #CCCCCC;}


/*adding for responsiveness*/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
	min-width: 200px;
	color: black;
}
.dropdown-menu a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown-menu a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown li a{
	padding: 5px 15px;
	font-weight: 300;
	color: white;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.footer {
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #e9e9e9;
    font-size: 0.625em;
}
 
@media only screen and (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
	.gridColumn{
		float:left;
	}	
	.row{
		float: left;
	}
	.gridColumn{
		width: 100%;
		
	}
}
/*
nav bar background color style
style="background-color: #3cddd5;"

*/
/* .nav.navbar-nav.navbar-right li a {
    color: white;
} */
.navbar{
	background-color: #3cddd5;
	border: 2px solid #20b2aa;
	border-radius: 10px;
}
.nav.navbar-nav li a {
    color: black;
}
.navbar .navbar-toggle .icon-bar {
    background-color: black;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	color: pink;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/*
modal content CSS goes below
*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
