

<div class="container defaultbody">

	<div ng-repeat="trsContact in trsContactDetails">
		{{trsContact.contactInfo}}<br> 
		
		<b>contact Number:</b>
		{{trsContact.contactNumber}}<br> 
		
		<b>Email:</b>
		{{trsContact.contactEmail}}<br><br><br>
	</div>

</div>