<div class="container "
	style="border-style: solid; border-color: #20b2aa;">
	<h1 id="trs-main-heading">Train Reservation System</h1>



	<a
		style="color: blue; position: absolute; top: 18px; right: 16px; font-size: 18px;"
		href="../htmlFile/index.html">Home</a>

	<h2 style="color: blue; text-align: center;">User Registration</h2>
	<h3>
		Individual registration is free.<br> Valid mobile number and
		valid email id are mandatory to register as individual user.<br>
		Please click on sign up link on home page<br>
	</h3>
	<img src="../Images/loginPage.jpg" alt="Login Page"
		style="width: 1000px; height: 800px;">
	<h3>
		<br>After clicking on "sign up" button, this page will be open:<br>
		Fill all the input and click on "Register" button
	</h3>
	<img src="../Images/RegistrationPage.jpg" alt="Registration Page"
		style="width: 1000px; height: 800px;">
	<h3>
		<br>After clicking on "Submit" button a new acknowledgement page
		will be opened and to login click on "click here to login" it will
		redirect you to the login page.
	</h3>
	<img src="../Images/RegistrationSuccessfullPage.jpg"
		alt="RegistrationSuccessfull Page"
		style="width: 1000px; height: 800px;">
</div>

