<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../cssFile/indexPage.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<meta charset="ISO-8859-1">
<title>Train Reservation System</title>
</head>
<body ng-app="myApp1">

	<script src="../jsFile/captchaScript.js"></script>
	<script src="../jsFile/routingScript1.js"></script>

	<div class="container" style="border-style: solid; border-color: #20b2aa;">
		<h1 id="p1">Train Reservation System</h1>
		<marquee style="border-style: groove; padding: 5px 35px;">Welcome
			to the Train Reservation system</marquee>


		<nav class="navbar" role="navigation"
			style="background-color: #3cddd5;">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<p style="color: black;" class="navbar-brand">Train reservation
					system</p>
			</div>
			<!--/.navbar-header-->

			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">User Guide<b class="caret"></b></a>

						<ul class="dropdown-menu">
							<li><a target="_blank"
								href="../htmlFile/userRegistration.html">User Registration
									Guide</a></li>
							<li><a target="_blank" href="../htmlFile/bookEticket.html">Booking
									e-ticket Guide</a></li>
							<li><a target="_blank" href="../htmlFile/eticketCancel.html">Canceling
									e-ticket Guide</a></li>
						</ul></li>
					<li><a target="_blank"
						href="../pdfFile/InsuranceTermCondition.pdf">Travel Insurance</a></li>


					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Accommodation<b class="caret"></b></a>

						<ul class="dropdown-menu">
							<li><a target="_blank" href="https://www.trivago.in">Hotel
									& Lounge</a></li>
						</ul></li>


					<li><a target="_blank"
						href="../pdfFile/ForeignTouristQuotaBooking.pdf">Foreign
							Tourist Quota</a></li>



				</ul>
				<ul class="nav navbar-nav navbar-right">

					<li><a href="../htmlFile/index.html">Home</a></li>
					<li><a target="_blank" href="#!trsContact"
						ng-click="getTrsContactInfo();">Contact us</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</div>
			<!--/.navbar-collapse-->
		</nav>
		<div ng-view></div>
		<hr>

		<div class="row">
			<div class="container">
				<div class="container">
					<div class="container">

						<div class="col-sm-2">
							<a class="verisign" target="_blank"
								href="https://usa.visa.com/support/consumer/security.html/">VeriSign</a>
						</div>

						<div class="col-sm-2">
							<a class="masterc" target="_blank"
								href="https://www.mastercard.us/en-us/consumers/payment-technologies/securecode.html">MasterCard</a>
						</div>

						<div class="col-sm-2">
							<a class="verisign" target="_blank"
								href="http://www.the-maharajas.com/">Maharaja Express</a>
						</div>

						<div class="col-sm-2">
							<a class="masterc" target="_blank"
								href="https://www.youtube.com/results?search_query=how+to+book+a+train+ticket+online">book
								train ticket online</a>
						</div>

						<div class="col-sm-2">
							<a class="verisign" target="_blank" href="https://www.redbus.in/">Bus
								ticket Booking</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>