<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
{{ firstName  }}
<input type="text" ng-model="code" ng-keyup="validate($event)">
{{msg}}
</div>

<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
    $scope.firstName = "shubham";
    $scope.lastName = "Doe";
    
    
    $scope.validate=function(keyEvent) {
    console.log("csacascas");
    
    if($scope.code==$scope.firstName){
    $scope.msg="valid";
    }
  else{
    $scope.msg="invalid";
    }
   
    }
});
</script>

</body>
</html>