<!doctype html>
<title>CSS Grid Template 1</title>
<style>
.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown-menu a {
	color: pink;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown li a{
	padding: 5px 15px;
	font-weight: 300;
	 color: white;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}

 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body >
  <nav class="navbar" role="navigation" style="background-color:#3cddd5;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
        </button>
        <p style="color: black;" class="navbar-brand" >Train reservation system</p>
    </div>
    <!--/.navbar-header-->
 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">User Guide<b class="caret"></b></a>
					
					<ul class="dropdown-menu">
							<li><a target="_blank" href="../htmlFile/userRegistration.html">User
							Registration Guide</a> 
							</li>
							<li><a target="_blank"
							href="../htmlFile/bookEticket.html">Booking e-ticket Guide</a>
							</li>
							<li><a target="_blank" href="../htmlFile/eticketCancel.html">Canceling
							e-ticket Guide</a>
							</li>
					</ul>
			</li>
			<li><a target="_blank" href="../pdfFile/InsuranceTermCondition.pdf">Travel Insurance</a></li>
				

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Accommodation<b class="caret"></b></a>
					
					<ul class="dropdown-menu">
							<li><a target="_blank" href="https://www.trivago.in">Hotel &
							Lounge</a>
							</li>
					</ul>
			</li>

				
			<li><a target="_blank" href="../pdfFile/ForeignTouristQuotaBooking.pdf">Foreign Tourist Quota</a> 
						</li>
			
	        
	        
		</ul>
		<ul class="nav navbar-nav navbar-right">
						
			<li><a	href="../htmlFile/index.html">Home</a></li>
			<li>	<a target="_blank"
					href="#!trsContact" ng-click="getTrsContactInfo();">Contact us</a> 
			</li>
	        <li><a href="#">Link</a></li>
        </ul>
    </div>
    <!--/.navbar-collapse-->
</nav>
<!--/.navbar-->
</body>
</html>